.page{
    width: 100%;
    height: 100%;
    z-index: -1;
    position:absolute;
    top:0px;
}
.top{
    width: 281px;
    height: 312px;
    transform: rotate(-90deg);
    flex-shrink: 0;
    border-radius: 312px;
    background: linear-gradient(216deg, #B2EDFF 30.34%, #85B1FD 56.33%, #5975FA 82.32%);
    filter: blur(200px);
    margin-left: auto;
    margin-bottom: 0px;
    position: absolute;
    top:-72px;
    left: 108px;
}

.bottom{
    width: 543px;
    height: 512px;
    transform: rotate(-90deg);
    flex-shrink: 0;
    border-radius: 543px;
    background: linear-gradient(216deg, #B2EDFF 30.34%, #85B1FD 56.33%, #5975FA 82.32%);
    filter: blur(200px);
    position: absolute;
    top: 400px;
    

}

.mid{
    fill: linear-gradient(216deg, #B2EDFF 30.34%, #85B1FD 56.33%, #5975FA 82.32%);
    filter: blur(90px);
    width: 159px;
    height: 176px;
    transform: rotate(-90deg);
    flex-shrink: 0;
    ;
}